.container {
  background-color: #BDBDBD;
  height: 100vh;
}

.headerContainer {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: #37474F;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
}

.App {
  margin: 0 auto;
  position: relative;
  padding: 100px;
  max-width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 740px) {
  .App {
    flex-direction: column;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 410px) {
  .App {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-height: 605px) {
  .App {
    padding-bottom: 0;
  }
}
